body 
{
    background-color: #ffe6ac;
    position:absolute;
}
.header-style
{
    text-align: center;
}
.FloatButton
{
    float:right;
    margin: auto;
    top: 50%;
}
.firstcheck:checked
{
    border: none;
    outline: 2px solid rgb(39, 255, 20);
}
.secondcheck:checked
{
    border: none;
    outline: 2px solid rgb(20, 24, 255);
}
.wrapper
{
    margin: 10px;
}
.wrapper-element
{   max-width: auto;
    margin: 10px;
    text-align: left;
    display: flex;
}